<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <!-- Bulma Version 1 -->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/ghost-blog.css" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <section class="hero is-medium">
      {% include 'includes/header.html' %}
      {% block hero %}{% endblock  %}
    </section>
    {% block content %}

    {% endblock %}
    {% include 'includes/footer.html' %}
  </body>
</html>
