{% extends 'includes/base.html' %}

{% block title %}
  T4E || Home
{% endblock %}

{% block hero %}
  {% include 'includes/hero.html' %}
{% endblock %}
{% block content %}
  <section class="blog-posts">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="columns featured-post is-multiline">
            <div class="column is-12 post">
              <article class="columns featured">
                <div class="column is-7 post-img">
                  <img src="/public/images/H2x1_NSwitch_YoshisCraftedWorld_image1600w.jpg" alt="" />
                </div>
                <div class="column is-5 featured-content va">
                  <div>
                    <h1 class="title post-title">Welcome to Our Blog</h1>
                    <p class="post-excerpt">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quas expedita nam! Odio deleniti molestiae error optio aperiam provident ea recusandae. Laborum in dolores delectus nulla accusantium quo sed quia.
                    </p>
                    <br />
                  </div>
                </div>
              </article>
            </div>
          </div>
          <hr />
          <div class="columns is-multiline">
            {% for blog in blogs %}
              {% include 'includes/blog.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
